<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Document</title>
</head>
<body>
    <div class="dashboard">
        <div class="navbar">
            <div class="left-nav">
                <div class="logo"></div>
            </div>
            <div class="right-bar">
                <ul>
                    <li>
                        titik
                    </li>
                </ul>
            </div>
        </div>
        <div class="kontrol">
            <div class="round-button-container">
                <div class="round-button-circle">
                    <a href="#" class="round-button">Putak Balik</a>
                </div>
            </div>
            <div class="status">
                <div class="status-up">
                    Angka intensitas cahaya
                </div>
                <div class="status-down">
                    Status
                </div>
            </div>
            <div class="round-button-container">
                <div class="round-button-circle">
                    <a href="#" class="round-button">Putak Balik</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>